html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    color: #fff;
    overflow: auto;
}

* {
    scroll-behavior: smooth;
}

body {
    background: #04a1fb;
    background: -moz-linear-gradient(54deg, rgba(62, 109, 115, 1) 0%, rgba(116, 168, 151, 1) 100%);
    background: -webkit-linear-gradient(54deg, rgba(62, 109, 115, 1) 0%, rgba(116, 168, 151, 1) 100%);
    background: linear-gradient(54deg, rgba(62, 109, 115, 1) 0%, rgba(116, 168, 151, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#04a1fb", endColorstr="#620654", GradientType=1);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed
}

body,
button {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

.flex__homelinks a,
.flex__itemlist a {
    text-decoration: none
}

a {
    color: #fff
}

.fas,
.fab {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: inherit;
}

p {
    margin: 0.4rem 0;
}

th {
    text-align: left;
    background-color: rgba(42, 89, 95, 0.7)
}

button {
    padding: 10px;
    background: rgba(242, 214, 103);
    border-radius: 20px;
    border: none;
    margin: 5px;
    color: #fff;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
}

button:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
}

button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background: rgba(242, 214, 103);
    color: white;
    top: 6px;
    height: 24px;
    width: 24px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}

input[type=radio]:checked::before {
    position: absolute;
    left: 5px;
    top: 5px;
    content: '•';
    font-size: 42px;
    line-height: 14px;
}

input[type=radio]:hover {
    background-color: rgba(231, 210, 126);
}

input[type=radio]:checked {
    background-color: rgba(131, 226, 164);
}

input[type=number] {
    background: rgba(242, 214, 103);
    border: none;
    border-radius: 50px;
    padding: 2px 5px 2px 10px;
    color: white;
}

tr:nth-child(even) {
    background-color: rgba(62, 109, 115, 0.5);
}

code,
code span,
.code {
    font-family: monospace;
    background-color: #27282233;
    font-weight: 500;
}

p code {
    padding: 3px;
    white-space: nowrap;
}

.highlight pre {
    padding: 10px;
    margin: 0;
}

.flex__homelinks_item_header {
    color: #fff;
    margin: .2rem;
    display: flex;
    flex-direction: row;
    text-align: right;
    background-color: rgba(242, 214, 103);
    justify-content: flex-end;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 40px;
    font-weight: inherit;
}

.page__flexbox_learnflex_container {
    border: 4px dotted #ddd;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
}

.page__flexbox_learnflex_container_child {
    padding: 2.5rem 3.5rem;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

.page__flexbox_learnflex_container_child:nth-child(3n+1) {
    background-color: rgba(131, 226, 164);
}

.page__flexbox_learnflex_container_child:nth-child(3n+2) {
    background-color: rgb(249, 248, 113);
}

.page__flexbox_learnflex_container_child:nth-child(3n+3) {
    background-color: rgba(242, 214, 103);
}

.flex__itemlist_item {
    color: #fff;
    background-color: rgba(131, 226, 164);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    margin: 0.35rem 0;
}

.flex__itemlist_item:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.flex__itemlist_item_content {
    margin: 1.4rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex__homelinks_item * {
    display: flex
}

.flex__homelinks_item_clickable {
    color: #fff;
    background-color: rgba(131, 226, 164);
    margin: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 40px;
}

.flex__homelinks_item_clickable:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
}

.flex__homelinks_item_clickable:active,
.flex__itemlist_item:active,
button:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(3px);
}

.flex__homelinks_item_icon {
    margin: auto 0;
    align-self: flex-end;
    margin-right: 1.4rem
}

.flex__homelinks_item_icon * {
    font-size: 3rem !important
}

.flex__homelinks_item_text {
    font-size: 2rem;
    margin: 1.4rem
}

.flex__homelinks {
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    margin: auto 10%
}

.flex__itemlist {
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 100%;
}

.site__wrapper {
    flex-direction: column;
    display: flex;
}

.linkhome__wrapper {
    flex-direction: column;
    display: flex;
    justify-content: safe center;
    height: 100%;
    position: relative;
    width: 100%;
    flex-grow: 1;
}

.itemlist__wrapper {
    flex-direction: row;
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-grow: 1;
    position: relative;
    width: 100%
}

.post__wrapper {
    flex-direction: column;
    display: flex;
    min-height: 100%;
    position: relative;
    margin: 2% 8%;
    background: rgba(62, 109, 115, 0.1);
    padding: 1.5rem;
    border-radius: 1rem;
    max-width: 60rem;
}

.page__flexbox_control {
    margin: 1rem 0;
}

.site__header {
    width: 100%;
    z-index: 2;
}

.site__header .site__header_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.site__header_container_large {
    margin: 3%;
}

.site__header_container_small {
    margin: 1.5% 1.5% 1%
}

.site__header_container * {
    display: inline;
    text-decoration: none
}

.hide {
    display: none;
}

.background-circle {
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    position: fixed;
    z-index: -99;
    background: linear-gradient(54deg, rgba(62, 109, 115, 1) 0%, rgba(116, 168, 151, 1) 100%)
}

#page__playground_input {
    width: 100%;
}

.page__playground {
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

.ace_editor,
.ace_text-input,
.ace_editor div {
    font-family: monospace;
    font-size: 1rem;
    font-weight: 500;
}

.ace_editor,
.ace_editor div {
    font: 1rem/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.ace_line {
    font: 1rem/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.page__playground_box {
    background-color: white;
    color: #000;
    padding: 1rem;
    box-sizing: border-box;
    flex: 1 1 auto;
    border-radius: 1rem;
}

.page__playground_box:nth-of-type(1) {
    background-color: rgba(62, 109, 115, 0.6);
    color: #fff;
    min-width: 20%;
}

.page__playground_handle {
    width: 20px;
    padding: 0;
    cursor: ew-resize;
    flex: 0 0 auto;
}

.page__playground_handle::before {
    content: '';
    display: block;
    width: 8px;
    height: 100%;
    background: rgba(62, 109, 115, 0.8);
    margin: 0 auto;
    border-radius: 5px;
}

#page__playground_render {
    width: 100%;
    height: 100%;
    min-height: 80vh;
}

@media only screen and (max-width: 850px) {
    .site__header_title {
        display: none;
    }
    .itemlist__wrapper {
        flex-direction: column-reverse;
    }
    .flex__itemlist {
        width: auto;
    }
    .post__wrapper {
        margin: 1rem;
        padding: .5rem;
    }
}

@media only screen and (max-width: 350px) {
    .flex__homelinks_item_icon {
        display: none;
    }
    .post__wrapper {
        margin: 0.5rem;
        padding: 0;
        background-color: transparent;
    }
}

@media only screen and (max-aspect-ratio: 13/9) {
    .page__playground {
        flex-direction: column;
    }
}

@media only screen and (max-height: 500px) {
    .flex__homelinks {
        flex-direction: row;
        flex-flow: wrap;
    }
}