<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge"> {{ with .Site.Author.name }}
<meta name="author" content="{{ . }}">{{ end }} {{ with .Site.Params.description }}
<meta name="description" content="{{ block " description " . }}{{ . }}{{ end }}">{{ end }} {{ with .Site.Params.keywords }}
<meta name="keywords" content="{{ . }}">{{ end }}
<script src="https://kit.fontawesome.com/87e1d657e0.js"></script>
<noscript>
        <link type="text/css" media="all" href="https://kit.fontawesome.com/87e1d657e0.css" rel="stylesheet">
</noscript>

<link rel="canonical" href="{{ .Permalink }}"> {{ partial "css.html" . }}

<link rel="icon" type="image/png" href="{{ " /img/favicon.png " | relURL }}"> {{ if .RSSLink }}
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" /> {{ end }} {{ .Hugo.Generator }}
<link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">