<header class="site__header">
    <div class="site__header_container site__header_container_small">
        <div>
            <a href="/">
                <h1 class="fas fa-home"></h1>
            </a>
            &nbsp;
            <h1>_{{.LinkTitle}}</h1>
        </div>
        <div>
        </div>

        <h1 class="site__header_title">_Corlaer_Programmeren &nbsp;<i class="fas fa-qrcode"></i></h1>
    </div>
</header>