<div class="site__wrapper" style="min-height: 100vh">
    <header class="site__header">
        <div class="site__header_container site__header_container_large">
            <div>
                <a href="/">
                    <h1 class="fas fa-home"></h1>
                </a>
                &nbsp;
                <h1>_{{.LinkTitle}}</h1>
            </div>
            <div>
            </div>
            <h1 class="site__header_title">_Corlaer_Programmeren &nbsp;<i class="fas fa-qrcode"></i></h1>
        </div>
    </header>
    <div class="linkhome__wrapper">
        <div class="flex__homelinks">
            <div class="flex__homelinks_item_header">
                <div class="flex__homelinks_item_text">
                    Links_
                </div>
            </div>
            <a href="html/">
                <div class="flex__homelinks_item_clickable">
                    <div class="flex__homelinks_item_text">
                        _HTML
                    </div>
                    <div class="flex__homelinks_item_icon">
                        <i class="fab fa-html5"></i>
                    </div>
                </div>
            </a>

            <a href="css/">
                <div class="flex__homelinks_item_clickable">

                    <div class="flex__homelinks_item_text">
                        _CSS
                    </div>
                    <div class="flex__homelinks_item_icon">
                        <i class="fab fa-css3-alt"></i>
                    </div>
                </div>

            </a>
            <a href="javascript/">
                <div class="flex__homelinks_item_clickable">

                    <div class="flex__homelinks_item_text">
                        _Javascript (Geen content)
                    </div>
                    <div class="flex__homelinks_item_icon">
                        <i class="fab fa-js"></i>
                    </div>
                </div>

            </a>
            <a href="playground/">
                <div style="background-color: rgb(116, 168, 151);" class="flex__homelinks_item_clickable">

                    <div class="flex__homelinks_item_text">
                        _Playground
                    </div>
                    <div class="flex__homelinks_item_icon">
                        <i class="far fa-smile"></i>
                    </div>
                </div>
            </a>

        </div>

        <a href="#Page__Home_Onder" class="fas fa-angle-down" style="margin: 10px auto; font-size: 48px; text-decoration: none;"></a>
    </div>
</div>
<div class="site__wrapper" id="Page__Home_Onder" style="min-height: 98vh; margin: 2vh 1rem 0 1rem;">
    <h1>Over</h1>
    <p>Dit is een website waar je kunt leren websites te maken!</p>
    <h1>Waar</h1>
    <p>Ik weet niet waarom, maar hier is een kaart van Corlaer.</p>
    <iframe width="100%" height="500" src="https://maps.google.com/maps?q=Corlaer%20College&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <h1>Contact</h1>
    <p>Neem contact op met Jasper Albering door een e-mail te sturen naar <a href="mailto:514889@lln.corlaercollege.nl">514889@lln.corlaercollege.nl</a>. Ik reageer wanneer ik tijd heb.</p>
</div>