<div class="site__wrapper">

        {{- partial "header.html" . -}}

        <div class="itemlist__wrapper">
                <div class="flex__itemlist">
                        {{ range .Paginator.Pages.ByWeight.Reverse -}}
                        <a href="{{ .URL }}" class="flex__itemlist_item">
                                <div class="flex__itemlist_item_content">
                                        <div class="flex__itemlist_item_text">
                                                <h2>{{ .Title }}</h2>
                                                <p>{{ .Summary }}</p>
                                                <i style="font-size: 10px;">{{/* if isset .Params "date" }} - {{ .Date.Format "02-01-2006" }}{{ end */}}</i>
                                        </div>
                                </div>
                        </a>
                        {{ end }} {{ partial "pagination.html" . }}

                </div>
        </div>
</div>
