<div class="site__wrapper">
    {{- partial "header.html" . -}} {{ if (not (isset .Params "nopostwrapper")) }}
    <div class="post__wrapper">
        <h1>
            {{ .Title }}
        </h1>
        {{ end }} {{ .Content }} {{ if (not (isset .Params "nopostwrapper")) }}
    </div>
    {{ end }}
</div>