{{ $baseurl := .Site.BaseURL }}
<ul class="post__meta-taxonomies">
    <li>
        <a href="/tags/" class="tag-title">Tags</a>
        <ul class="tags">
            {{ range .Params.tags }}
            <li class="tags__item">
                <a href="/tags/{{ . | urlize }}">{{ . }} </a>
            </li>
            {{ end }}
        </ul>
    </li>
    <li>
        <a href="/categories/" class="category-title">Categories</a>
        <ul class="categories">
            {{ range .Params.categories }}
            <li class="categories__item">
                <a href="/categories/{{ . | urlize }}">{{ . }} </a>
            </li>
            {{ end }}
        </ul>
    </li>
</ul>