<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
        {{- partial "head.html" . -}}
    </head>
    <body>
        <div class="background-circle" style="left: -10rem; top: -10rem;"></div>
        <div class="background-circle" style="right: -5rem; bottom: -20rem;"></div>
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        {{- partial "js.html" . -}}
    </body>
</html>
